/*Nagy képernyős footer kezdete*/

footer {
    margin-top: auto;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 3%;
}

@media only screen and (min-width:700px) {

    footer #law_down #law {
        display: inline-block;
    }

}

footer #logo_up {
    padding: 2%;
}

footer #logo_up #logo_sign {
    font-family: Copperplate;
    font-size: 2vw;
}

footer #logo_up #logo_slogan {
    font-family: Copperlate_Light;
    font-size: 1vw;
}

footer #law_down{
    padding-bottom: 3%;
}

footer #law_down #law {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

footer #law_down a, footer #law_down a:link, footer #law_down a:visited, footer #law_down a:active {
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin: 1%;
}

/*Nagy képernyős footer vége*/

/*Kis képernyős footer kezdete*/

@media only screen and (max-width:700px) {

    footer #logo_up {
        padding: 3%;
    }

    footer #logo_up #logo_sign{
        font-size: 4vw;
    }

    footer #logo_up #logo_slogan {
        font-size: 2vw;
    }

    footer #law_down #law {
        margin: .1%;
        font-size: 2vw;
    }

}

/*Kis képernyős footer vége*/
