body {
    margin: 0;
    padding: 0;
}

a, a:link, a:visited, a:active {
    color: black;
}

#login_reg {
    margin-top: auto;
    margin-bottom: 5%;
    font-family: Copperplate;
    text-align: center;
}

#login_reg .top_hr {
    margin-top: 2%;
    margin-bottom: 3%;
}

#login_reg .down_hr {
    margin-top: 3%;
}

#login_reg hr {
    width: 60%;
    border: solid .5px #828282;
}

#login_reg .login_reg_sign {
    font-size: 2.5vw;
}

#login_reg #name {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#login_reg #name input {
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    width: 15%;
    padding: 1.5vw;
    border: none;
    border: solid 1px #E0E0E0;
    border-radius: 5px;
}

#login_reg #inputs input {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    width: 30%;
    display: block;
    box-sizing: border-box;
    padding: 1.5vw;
    border: none;
    border: solid 1px #E0E0E0;
    border-radius: 5px;
}

#login_reg #inputs #password span a{
    display: flex;
}

#login_reg #inputs #password a i {
    margin-left: 62%;
    margin-top: -1.7em;
    font-size: 1.7vw;
}

::-webkit-input-placeholder {
    font-size: 1vw;
}
::-moz-placeholder {
    font-size: 1vw;
}
:-ms-input-placeholder {
    font-size: 1vw;
}
:-moz-placeholder {
    font-size: 1vw;
}

#login_reg .reg {
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #7B7B7B;
    text-decoration: underline;
    padding-top: 1%;
}

button {
    margin-top: 1%;
    padding: 1% 1.5%;
    color: white;
    background-color: black;
    font-family: Copperplate;
    font-size: 1.5vw;
    border: none;
    text-decoration: none;
    border-radius: 100px;
    transition-duration: 0.4s;
    border: solid 2px black;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
    border: solid 2px black;
}

#login_error {
    font-size: 1vw;
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

/**/

@media only screen and (max-width:700px) {

    #login_reg .top_hr {
        margin-bottom: 5%;
    }
    
    #login_reg .down_hr {
        margin-top: 5%;
    }

    #login_reg hr {
        border: solid 1px #828282;
    }

    #login_reg .login_reg_sign {
        font-size: 4vw;
    }
    
    #login_reg #name input {
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        width: 50%;
        display: block;
        box-sizing: border-box;
        padding: 2.5vw;
        border: none;
        border: solid 1px #E0E0E0;
        border-radius: 5px;
    }
    
    #login_reg #inputs input {
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        width: 50%;
        display: block;
        box-sizing: border-box;
        padding: 2.5vw;
        border: none;
        border: solid 1px #E0E0E0;
        border-radius: 5px;
    }
    
    #login_reg .reg {
        font-size: 2vw;
        font-family: Arial, Helvetica, sans-serif;
        color: #7B7B7B;
        text-decoration: underline;
        padding-top: 3%;
        margin-bottom: -1%;
    }
    
    button {
        margin-top: 5%;
        padding: 1.5% 2%;
        color: white;
        background-color: black;
        font-family: Copperplate;
        font-size: 3vw;
        border: none;
        text-decoration: none;
        border-radius: 100px;
        transition-duration: 0.4s;
        border: solid 2px black;
        cursor: pointer;
    }
    
    button:hover {
        background-color: white;
        color: black;
        border: solid 2px black;
    }

    #login_error {
        font-size: 2vw;
        padding-top: 3%;
    }

}

/**/

/**/

@media only screen and (max-width:1100px) {

    #login_reg #inputs #password a i {
        margin-left: 62%;
        margin-top: -1.8em;
    }

}

@media only screen and (max-width:950px) {

    #login_reg #inputs #password a i {
        margin-left: 62%;
        margin-top: -1.9em;
    }

}

@media only screen and (max-width:850px) {

    #login_reg #inputs #password a i {
        margin-left: 62%;
        margin-top: -2em;
    }

}

@media only screen and (max-width:700px) {

    #login_reg #inputs #password a i {
        font-size: 3vw;
        margin-left: 70%;
        margin-top: -1.7em;
    }

}

@media only screen and (max-width:600px) {

    #login_reg #inputs #password a i {
        font-size: 3vw;
        margin-left: 70%;
        margin-top: -1.8em;
    }

}

@media only screen and (max-width:500px) {

    #login_reg #inputs #password a i {
        font-size: 3vw;
        margin-left: 70%;
        margin-top: -1.9em;
    }

}

@media only screen and (max-width:450px) {

    #login_reg #inputs #password a i {
        font-size: 3vw;
        margin-left: 70%;
        margin-top: -2em;
    }

}

@media only screen and (max-width:300px) {

    #login_reg #inputs #password a i {
        font-size: 3vw;
        margin-left: 70%;
        margin-top: -2.1em;
    }

}

@media only screen and (max-width:250px) {

    #login_reg #inputs #password a i {
        font-size: 3vw;
        margin-left: 70%;
        margin-top: -2.2em;
    }

}

@media only screen and (max-width:200px) {

    #login_reg #inputs #password a i {
        font-size: 3vw;
        margin-left: 70%;
        margin-top: -2.3em;
    }

}

/**/