#login_reg {
    font-family: Copperplate;
    text-align: center;
}

#login_reg .top_hr {
    margin-top: 2%;
    margin-bottom: 3%;
}

#login_reg hr {
    width: 60%;
    border: solid .5px #828282;
}

#login_reg .login_reg_sign {
    font-size: 2.5vw;
}

#login_reg #name {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#login_reg #name input {
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    width: 15%;
    padding: 1.5vw;
    border: none;
    border: solid 1px #E0E0E0;
    border-radius: 5px;
}

#login_reg #inputs input {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    width: 30%;
    display: block;
    box-sizing: border-box;
    padding: 1.5vw;
    border: none;
    border: solid 1px #E0E0E0;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    font-size: 1vw;
}
::-moz-placeholder {
    font-size: 1vw;
}
:-ms-input-placeholder {
    font-size: 1vw;
}
:-moz-placeholder {
    font-size: 1vw;
}

#login_reg .reg {
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #7B7B7B;
    text-decoration: underline;
    padding-top: 1%;
}

button {
    margin-top: 3%;
    padding: 1% 1.5%;
    color: white;
    background-color: black;
    font-family: Copperplate;
    font-size: 1.5vw;
    border: none;
    text-decoration: none;
    border-radius: 100px;
    transition-duration: 0.4s;
    border: solid 2px black;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
    border: solid 2px black;
}

.down_hr {
    margin-top: 3%;
}

#login_error {
    color: red;
}