body {
    margin: 0;
    padding: 0;
}

.main {
    padding: 0 5%;  
}

.main .main_img {
    margin: auto;
    width: 20%;
    height: 20%;
}

.main .main_img img {
    object-fit: cover;
    height: 100%;
    width: 100%
}

.main .main_txt {
    font-size: 25px;
    font-family: Copperplate;
    margin: 7% 0;
}

.main .main_txt p {
    text-align: justify;
}

.us .leaders {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.us .leaders .profile {
    width: 10%;
}