body {
    color: black;
}

#top_things {
    margin: 3% 5%;
}

#top_things #title h1 {
    font-family: Futura_Condensed_ExtraBold;
    font-size: 3vw;
    margin-bottom: 1.5%;
}

#top_things #title h1 .air{
    font-family: Futura_Medium;
}

#top_things #search_categories{
    width: 20%;
}

#top_things #search_categories input::-webkit-input-placeholder {
    font-family: Futura_Condensed_Medium;
  }
  
#top_things #search_categories input:-ms-input-placeholder {
    font-family: Futura_Condensed_Medium;
}
  
#top_things #search_categories input:-moz-placeholder {
    font-family: Futura_Condensed_Medium;
}
  
#top_things #search_categories input::-moz-placeholder {
    font-family: Futura_Condensed_Medium;
}

.card {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.card .card-body {
    max-height: 200px;
}

.card .card-body .card-title .air {
    font-family: Futura_Medium;
}

.card .card-body .card-title .jordan {
    color: red;
}

.card .card-body .card-title {
    position: absolute;
    left: 10%;
    right: 10%;
    font-family: Futura_Condensed_ExtraBold;
    margin-top: 3%;
}

.card a h5 {
    font-family: Futura_Light;
    padding-top: 8.5%;
    float: right;
}

.card span i {
    cursor: pointer;
    font-size: 25px;
    padding-top: 7%;
    float: left;
}

.card a {
    color: black;
}

.card .card-text {
    font-family: Futura_Condensed_Medium;
    letter-spacing: .1vw;
    margin-top: 25%;
    margin-left: 32%;
    margin-right: 32%;
    padding: 2%;
    color: white;
    background-color: black;
}

.card img {
    height: 200px; 
    object-fit: cover;
}