#top{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;   
}

#top #title {
width: 150%;

}

#top #info {
font-family: Arial, Helvetica, sans-serif;
margin-top: 1.5%;

}

#top #title h1 {
font-family: Futura_Condensed_Extrabold;

}

#top #title #name {
font-size: 3vw;

}

#top #title h1 .air {
    font-family: Futura_Medium;
}

#top #title p {
    font-size: 2vw;
    font-family: Futura_Condensed_Medium;
    margin-top: -5%;
}

#top #title #price {
    font-size: 1vw;
    text-align: center;
    width: 35%;
    color: white;
    border: solid black 6px;
    background-color: black;
}

#top #info p {
    font-size: 1.5vw;
}

#top #info .info_text {
    text-align: end;
}

#top #info #color_style {
    font-family: Futura_Condensed_Medium;
    display: flex;
}

#top #info #color_style p {
    text-align: end;
}


#bottom {
    display: flex;
    margin: 5%;
}

#bottom #images #lines {
    display: flex;
}

#bottom #images #img {
    height: 30vw;
    width: 30vw;
    margin-right: 5%;
    margin-bottom: 5%;
}

#bottom #images #img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#bottom #delivery_buy #delivery {
    font-family: Arial, Helvetica, sans-serif;
}

#bottom #delivery_buy #delivery h1 {
    font-size: 1.6vw;
}

#bottom #delivery_buy #delivery p {
    font-size: 1.5vw;
}

#bottom #delivery_buy #delivery ul {
    padding-left: 5%;
}

#bottom #delivery_buy #delivery ul li {
    font-size: 1.5vw;
    
}
#bottom #buy {
    text-align: center;
}

#bottom #buy #shoes_size {
    font-size: 1vw;
    font-family: Futura_Condensed_Medium;
}